<section class="contact section" id="contact">
    <div class="contact__container container grid">
      <div class="contact__images">
        <div class="contact__orbe"></div>
        <div class="contact__img">
          <!-- <img src="/assets/img/contact.png" alt="contact" /> -->
        </div>
      </div>
  
      <div class="contact__content">
        <div class="contact__data">
          <span class="section__subtitle">Report</span>
          <h2 class="section__title">Lost or found Something <span>?</span></h2>
          <p class="contact__description">
            Did you lose or find something? Fill out this form to report it.
          </p>
        </div>
  
        <div class="card">
          <div class="contact__card-box">
            <div class="contact__card-info">
                <a href="/auth/google">
                  <button class="button contact__card-button">Sign in with Google</button>
                </a>
                <p>Please sign in to report a lost or found item.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  