<!--==================== HOME ====================-->
<section class="home section" id="home">
    <div class="home__container container grid">
      <div class="home__data">
        <h1 class="home__title">
          Lost <br />
          Found <br />
          Returned 🙂
        </h1>
        <p class="home__description">
          FoundIt is your go-to platform for reporting and finding lost
          items within our college campus.
          <br />
          Whether it's your phone, ID card, keys, or any other belongings,
          FoundIt helps you reconnect with your missing items in just a few
          clicks.
        </p>

        <div class="home__value">
          <!-- From the house of 
            <br> -->
          <img src="asset/img/CRISPR_white.png" alt="" width="150px" />
        </div>
      </div>

      <div class="home__images">
        <div class="home__orbe"></div>

        <div class="home__img">
          <img src="asset/img/home.jpg" alt="" />
        </div>
      </div>
    </div>
  </section>