<section class="popular section" id="popular">
    <div class="container">
      <!-- <h2 class="section__title">List of Lost Items<span>.</span></h2> -->
      <span class="section__subtitle">Lost</span>
      <h2 class="section__title">List of Lost Items</h2>

      <div class="popular__container swiper">
        <div class="swiper-wrapper">
          <article class="popular__card swiper-slide">
            <img src="asset/img/popular1.jpg" alt="" class="popular__img" />

            <div class="popular__data">
              <h2 class="popular__price"><span>TYPE: </span>ID CARD</h2>
              <h3 class="popular__title">
                <span>Owner: </span>Vishal Singh
              </h3>
              <p class="popular__description">
                <span>Description: </span>Street The Garden City Of
                Miraflores, Lima - Perú Av. Sol #9876
              </p>
            </div>
          </article>

          <article class="popular__card swiper-slide">
            <img src="asset/img/popular2.jpg" alt="" class="popular__img" />

            <div class="popular__data">
              <h2 class="popular__price"><span>TYPE: </span>Bottle</h2>
              <h3 class="popular__title">
                <span>Owner: </span>Vishal Singh
              </h3>
              <p class="popular__description">
                <span>Description: </span>Street The Garden City Of
                Miraflores, Lima - Perú Av. Sol #9876
              </p>
            </div>
          </article>

          <article class="popular__card swiper-slide">
            <img src="asset/img/popular3.jpg" alt="" class="popular__img" />

            <div class="popular__data">
              <h2 class="popular__price"><span>TYPE: </span>Phone</h2>
              <h3 class="popular__title">
                <span>Owner: </span>Vishal Singh
              </h3>
              <p class="popular__description">
                <span>Description: </span>Street The Garden City Of
                Miraflores, Lima - Perú Av. Sol #9876
              </p>
            </div>
          </article>
        </div>

        <div class="swiper-button-next">
          <i class="bx bx-chevron-right"></i>
        </div>
        <div class="swiper-button-prev">
          <i class="bx bx-chevron-left"></i>
        </div>
      </div>
    </div>
  </section>

  <!--==================== VALUE ====================-->
  <section class="value section" id="value">
    <div class="container">
      <!-- <h2 class="section__title">List of Lost Items<span>.</span></h2> -->
      <span class="section__subtitle">Found !</span>
      <h2 class="section__title">List of Found Items</h2>

      <div class="popular__container swiper">
        <div class="swiper-wrapper">
          <article class="popular__card swiper-slide">
            <img src="asset/img/popular1.jpg" alt="" class="popular__img" />

            <div class="popular__data">
              <h2 class="popular__price"><span>TYPE: </span>ID CARD</h2>
              <h3 class="popular__title">
                <span>Finder: </span>Vishal Singh
              </h3>
              <p class="popular__description">
                <span>Description: </span>Street The Garden City Of
                Miraflores, Lima - Perú Av. Sol #9876
              </p>
            </div>
          </article>

          <article class="popular__card swiper-slide">
            <img src="asset/img/popular2.jpg" alt="" class="popular__img" />

            <div class="popular__data">
              <h2 class="popular__price"><span>TYPE: </span>Bottle</h2>
              <h3 class="popular__title">
                <span>Finder: </span>Vishal Singh
              </h3>
              <p class="popular__description">
                <span>Description: </span>Street The Garden City Of
                Miraflores, Lima - Perú Av. Sol #9876
              </p>
            </div>
          </article>

          <article class="popular__card swiper-slide">
            <img src="asset/img/popular3.jpg" alt="" class="popular__img" />

            <div class="popular__data">
              <h2 class="popular__price"><span>TYPE: </span>Phone</h2>
              <h3 class="popular__title">
                <span>Finder: </span>Vishal Singh
              </h3>
              <p class="popular__description">
                <span>Description: </span>Street The Garden City Of
                Miraflores, Lima - Perú Av. Sol #9876
              </p>
            </div>
          </article>
        </div>

        <div class="swiper-button-next">
          <i class="bx bx-chevron-right"></i>
        </div>
        <div class="swiper-button-prev">
          <i class="bx bx-chevron-left"></i>
        </div>
      </div>
    </div>
  </section>