<!--==================== HEADER ====================-->
<header class="header" id="header">
    <nav class="nav container">
      <a href="#" class="nav__logo">
        FoundIt <i class="bx bxs-home-alt-2"></i>
      </a>

      <div class="nav__menu">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#home" class="nav__link active-link">
              <i class="bx bx-home-alt-2"></i>
              <span>Home</span>
            </a>
          </li>

          <li class="nav__item">
            <a href="#popular" class="nav__link">
              <i class="bx bx-building-house"></i>
              <span>LOST</span>
            </a>
          </li>

          <li class="nav__item">
            <a href="#value" class="nav__link">
              <i class="bx bx-award"></i>
              <span>FOUND</span>
            </a>
          </li>

          <li class="nav__item">
            <!-- <a href="#contact" class="button nav__button "> -->
            <a href="#contact" class="nav__link">
              <!-- <i class='bx bxs-message-square-add'></i> -->
              <i class="fa-solid fa-circle-plus"></i>
              <span> ↈ Lost or Found ?</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- Theme change button -->
      <i class="bx bx-moon change-theme" id="theme-button"></i>

      <!-- <a href="#contact" class="button nav__button"> Lost or Found Something </a> -->

      <a
        href="https://github.com/geeekyvishal/Foundit"
        class="nav__link"
        target="_blank"
      >
        <span>GitHub </span>

        <a
          href="https://github.com/geeekyvishal/Foundit"
          target="_blank"
          class="footer__social-link"
        >
          <i class="bx bxl-github"></i>
        </a>
      </a>
    </nav>
  </header>