  <!--========== SCROLL UP ==========-->
  <a href="#" class="scrollup" id="scroll-up">
    <i class="bx bx-chevrons-up"></i>
  </a>

  <!--=============== SCROLLREVEAL ===============-->
  <script src="asset/js/scrollreveal.min.js"></script>

  <!--=============== SWIPER JS ===============-->
  <script src="asset/js/swiper-bundle.min.js"></script>

  <!--=============== MAIN JS ===============-->
  <script src="asset/js/main.js"></script>
  <!--=============== SELECT JS ===============-->
  <script src="asset/js/select_tag.js"></script>
  <script src="asset/js/drop.js"></script>