<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Login with Google</h2>
    <% if (typeof message !== 'undefined') { %>
        <p style="color:red;"><%= message %></p>
    <% } %>
    <a href="/auth/google">Sign in with Google</a>
</body>
</html>
