<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      
        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
      
        <!--=============== BOXICONS ===============-->
        <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
      
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
      
        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
      
        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="/css/styles.css" />
      
        <title>Foundit</title>
</head>
      
<body>
    <h2>Login with Google</h2>
    <a href="/index">Home Page</a>
    <% if (typeof message !== 'undefined') { %>
        <p style="color:red;"><%= message %></p>
    <% } %>
    <a href="/auth/google">Sign in with Google</a>
    
    <!--========== SCROLL UP ==========-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="bx bx-chevrons-up"></i>
    </a>

    <!--=============== SCROLLREVEAL ===============-->
    <script src="/js/scrollreveal.min.js"></script>
    
    <!--=============== SWIPER JS ===============-->
    <script src="/js/swiper-bundle.min.js"></script>
    
    <!--=============== MAIN JS ===============-->
    <script src="/js/main.js"></script>
    <!--=============== SELECT JS ===============-->
    <script src="/js/select_tag.js"></script>
    <script src="/js/drop.js"></script>
    
</body>
</html>

